<p>Sory you lost your password.<br/>
Just enter your email that you signed up with and we will mail you a link to change your password</p>
<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>
