<div class="member-level bronze">
<h4>REGULAR MEMBERSHIP</h5>
<p>Dues: $1,000 annually or a $100 monthly pledge.</p>
<p>This is a basic membership plan that includes national representation for your business, promotional listing in association materials and eligibility for member discounts.</p>
</div>

<div class="member-level silver">
<h4>SPONSORING MEMBERSHIP</h5>
<p>Dues: $2,500 annually or a $250 monthly pledge.</p>
<p>This preferred membership plan grants eligibility to vote in NCIA board elections and includes all to the benefits of a Regular Membership.</p>
</div>

<div class="member-level gold">
<h4>SUSTAINING MEMBERSHIP</h5>
<p>Dues: Beginning at $5,000 annually or a $500 monthly pledge.</p>
<p>This premium membership plan includes eligibility to serve on the NCIA board of directors, access to exclusive industry events, high-profile listing in association materials, and all to the benefits of a Sponsoring Membership.</p>
</div>
