<% total = @members_banner.size %>
<% count = 1 %>
<div class="member-widget">
	<% @members_banner.each do |m| %>
		<% next if File.basename( m.image.url(:thumb)) == "missing.png" %>
		<% member_class = "member-widget" %>
		<% member_class += " hidden" if count > 5 %>
		<%= link_to( image_tag( m.image.url(:thumb), class: member_class, "data-index" => count ), m.website || "#" ) %>
		<% count += 1 %>
	<% end %>
	<div class="ncia-btn-large"><h4 class="member-widget"><%= link_to "MEMBER DIRECTORY", members_path %></h3></div>
</div>

<div id="member-laston" data-value=5></div>
<div id="member-count" data-value=<%= total %>></div>
