Northeastern<em>Canna</em>Business Symposium & Networking Reception
March 16, 2013 - Boston, Massachusetts

<div style="color:rgb(0,0,0);font-family:Arial, Helvetica, sans-serif;"><a href="https://ezevent.com/Live/NortheasternCannaBusinessSymposium/03162013/554" style="color:rgb(239,135,33);">Register today</a>&nbsp;for the most comprehensive marijuana business symposium ever conducted in the Northeast! <br /><br />
This half-day educational program will be a unique opportunity to glean information from&nbsp;<em>canna</em>business professionals and experts in the fields of regulatory models, operations, and ancillary businesses and will feature a special presentation of&nbsp;<a href="https://mmjbusinessdaily.com/" style="color:rgb(239,135,33);">MMJ Business Daily's</a>&nbsp;Marijuana Business FactBook 2013. The symposium also includes lunch and an evening networking reception.
<br /><br />NCIA <a href="http://thecannabisindustry.org/join" style="color:rgb(239,135,33);">member businesses</a>&nbsp;can register up to two attendees online for $175, all others are available for $250. All ticket and sponsorship proceeds support the work of the National Cannabis Industry Association, the only national organization advocating on behalf of cannabis businesses at the federal level.
<br /><br />
</div>
<div style="text-align:center; font-family:'ITC Berkeley Oldstyle', Georgia, Serif; font-size:110%; font-weight: bold;"><a href="http://TheCannabisIndustry.org/NESymposium" style="color:rgb(239,135,33)">Northeastern<em>&nbsp;Canna</em>Business Symposium</a></div>
<div style="text-align:center; color:rgb(0,0,0);font-family:Arial, Helvetica, sans-serif;">Saturday, March 16, 2013<br />
Courtyard Downtown Boston Hotel<br />
<a href="http://r20.rs6.net/tn.jsp?e=001J4c7rk7nDSmJsI-HPNMRN1eqgrfBDHPQllo_uFXFMpS3vuQexjGK6BwAydThOtaTbNFs__mIITTWGkkrz76U5AoiWzcE7w9BbahKtsg8A0YZ_lsBI6E45EqYckVtOnmzjDRpiI3_k94ZbTqXbngcW4RBPU4QIXKpvKkmKi6s2RwGbwDiijJ28vBPMI3HboFT_tN9oLIaOtkFAVFuhx_ntcqV8PT1QIoFQ6UETV92Vr7pb3W7zoLHXP1e8K3HZXFyWov1OI8rj9Y9FC6fSaFRbJnPRzHhWS3EwMzteY8nkzusosh0oSJFeja1HKf_YNm979OkiPPnwcDLVrjYnj0CRq1v0bi0JYxoSq6hrtuWdYv223ZfcQK8matBnqkCZSlMfk6V9jEFldHr6yIhk3EGUClqdT6iMKrmdcSQMGX4-xr0ccGUHt1WYXCX6wvBBm1C973oGwhNhJvQj3f__XBtJERxNFefVANKhYOTNUeesEmkdQp7di2QmUUg0V35TKXsWNdDtcwjl2B_Hu9C4dIe1g==" style="color:rgb(239,135,33);">275 Tremont St. Boston, MA 02116</a><br />
Symposium: 12:00 noon to 6:30 p.m. (Doors at 11:30 a.m.)<br />
Reception: 6:30 to 8:00 p.m.</div>
<br />
<div align="center"><a href="https://ezevent.com/Live/NortheasternCannaBusinessSymposium/03162013/554" target="_blank" style="background: url(https://ezevent.com/content/images/default-button-bg.gif) repeat-x #BBBDBF;border: 1px solid #BBBDBF;color:rgb(239,135,33);cursor: pointer;display: inline-block;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 15px;font-weight: bold;line-height: 1em;outline: 0;padding: 8px 25px;margin: 0px;text-decoration: none;vertical-align: baseline;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;">Buy Tickets</a></div>
<br />
<br />
<div style="text-align:left; font-family:'ITC Berkeley Oldstyle', Georgia, Serif; font-size:110%; font-weight: bold;"><a href="http://TheCannabisIndustry.org/NESymposium/Agenda" style="color:rgb(239,135,33); font-size:110%;">Agenda</a></div>
<br />
<table>
<tbody><tr><td valign="top">12:00-12:20 p.m.</td><td>Opening remarks from National Cannabis Industry Association Executive Director Aaron Smith</td></tr>
<tr><td width="20%" valign="top">12:20-1:20 p.m.</td><td>By the Numbers: Benchmarks and Market Data from the Marijuana Business Factbook 2013</td></tr>
<tr><td valign="top">1:30-2:50 p.m.</td><td>Panel and Q&amp;A: Government Relations and Regulatory Models</td></tr>
<tr><td valign="top">3:00-3:30 p.m.</td><td>Presentation by Blue Sage Microbes</td></tr>
<tr><td valign="top">3:30-4:00 p.m.</td><td>Networking Break</td></tr>
<tr><td valign="top">4:00-5:20 p.m.</td><td>Panel and Q&amp;A: Dispensary, Cultivation, and Infused Product Operations</td></tr>
<tr><td valign="top">5:30-6:30 p.m.</td><td>Panel and Q&amp;A: Ancillary Businesses in the Emerging Cannabis Industry</td></tr>
<tr><td valign="top">6:30-8:00 p.m.</td><td>Reception sponsored by the Massachusetts Medical Marijuana Association</td></tr>
</tbody>
</table></div>
<br />
<div style="color:rgb(0,0,0); font-family:Arial, Helvetica, sans-serif; text-align:center"><strong>*View the full symposium </strong><strong><a href="http://TheCannabisIndustry.org/NESymposiumagenda" style="color:rgb(239,135,33)"><span style="font-family:Arial;">agenda</span></a> and complete <a href="http://TheCannabisIndustry.org/NESymposiumspeakers" style="color:rgb(239,135,33)"><span style="font-family:Arial;">speaker list</span></a></strong><span style="font-family:Arial;"><strong>*</strong></span>
<br /><br />
<em>NCIA is a 501(c)(6) nonprofit trade association. 75% of all contributions may be tax-deductible as a business or trade expense.
<br /><br />
The National Cannabis Industry Association is the nation's only trade association working to defend and advance the interests of legitimate cannabis businesses in Washington, D.C.</em></div>
<br />
<div style="text-align:center; font-family:'ITC Berkeley Oldstyle', Georgia, Serif; font-size:120%; font-weight: bold;"><a href="http://thecannabisindustry.org" style="color:rgb(239,135,33);font-weight:bold;&quot;">TheCannabisIndustry.org</a></div>