
<div class="member-heading">Sponsoring</div>
<% @sponsoring_members.each do |m| %>
	<%= link_to( image_tag( m.image.url(:thumb) ), m ) %>
<% end %>
<div class="member-heading">Sustaining</div>
<% @sustaining_members.each do |m| %>
	<%= link_to( image_tag( m.image.url(:thumb) ), m ) %>
<% end %>
<div class="member-heading">Regular Members</div>
<% @regular_members.each do |m| %>
	<%= link_to( image_tag( m.image.url(:thumb) ), m ) %>
<% end %>
