<div class="member-heading">Sponsoring</div>
<div class="member-thumb-container">
	<% @sponsoring_members.each do |m| %>
		<%= render "thumb", member: m %>
	<% end %>
</div>
<div class="member-heading">Sustaining</div>
<div class="member-thumb-container">
	<% @sustaining_members.each do |m| %>
		<%= render "thumb", member: m %>
	<% end %>
</div>
<div class="member-heading">Regular Members</div>
<div class="member-thumb-container">
	<% @regular_members.each do |m| %>
		<%= render "thumb", member: m %>
	<% end %>
</div>
